body {
  background-color: black;
  color: white;
  font-family: 'Sarabun', 'sans-sarif';
  background: url(https://starzplay-img-prod-ssl.akamaized.net/prd-peg-data/default/images/starzplay-bg.jpg)
    no-repeat 100% 0 #070707;
  background-size: 100% auto;
}
